html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Alata", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
p,
a {
  font: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.padding {
  padding: 0 16.5rem;
}

main {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .padding {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 280px) {
  .padding {
    padding: 0 1rem;
  }
}
