header {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 14.6rem;
}
.nav-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.4rem 0 12.3rem;
}
.nav-head__logo {
  max-width: 192px;
}
.nav-head__logo img {
  width: 100%;
}
.mobile-toggle {
  display: none;
}
.nav-head__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-head__link {
  list-style: none;
}
.nav-head__link a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.nav-head__link a::after {
  content: "";
  display: block;
  transform: scaleX(0);
  margin-top: 8px;
  border-bottom: 2px solid #ffffff;
  background: #ffffff;
  transition: transform 0.3s ease;
  transform-origin: right; /* Animate from right to left */
}
.nav-head__link a:hover::after {
  transform: scaleX(1);
}
.hero-text-container {
  max-width: 650px;
  padding: min(2.4rem, 4rem);
  border: 2px solid white;
}
.hero-text-container h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 3.8rem;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
}

/* MEDIA QUERY */

@media screen and (max-width: 664px) {
  header {
    background-image: url("../images/mobile/image-hero.jpg");
  }
  .nav-head__list {
    background-color: black;
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    padding: min(30vh, 22.3rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .nav-head__list[data-visible="true"] {
    transform: translateX(0%);
  }
  .nav-head__link a {
    text-transform: uppercase;
    font-family: "Josefin Sans";
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.5rem;
  }

  .mobile-toggle {
    display: block;
    background-color: transparent;
    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    z-index: 9999;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
  }
  .mobile-toggle[aria-expanded="true"] {
    background-image: url("../images/icon-close.svg");
  }

  .nav-head__logo {
    z-index: 9999;
    max-width: 144px;
  }
  .nav-head {
    padding: 4rem 0 12.3rem;
  }
}

.sr-only {
  left: -100vw;
  position: absolute;
}

@media screen and (min-width: 541px) {
  .hero-text-container {
    padding: 4rem;
  }
  .hero-text-container h1 {
    font-size: 7.2rem;
    line-height: 7rem;
  }
}

@media screen and (max-width: 300px) {
  .hero-text-container {
    padding: 1rem;
  }
  .hero-text-container h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
}
